html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e55d87;
  //background-color: #5fc3e4;
  background: linear-gradient(to right, #e55d87, #5fc3e4);
  color: #fff;
}
